rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow get, list, create, update: if request.auth == null;
    }
  }
}
